### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [35]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [36]:
#show header and first five (0-4)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [37]:
#obtain listed columns columns 
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [38]:
#find total number of players
uni_players = purchase_data['SN'].nunique()
total_players = pd.DataFrame([
    {"Total Players": (uni_players)}
])
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [39]:
#find unique items sold, price, how many purchases, and total amount from purchases 
#make sure to show as df not series 
unique_items = purchase_data['Item ID'].nunique()
avg_price = purchase_data['Price'].mean()
avg_prices = np.round(avg_price,2)
total_purchases = purchase_data['Item ID'].count()
gross_revenues = purchase_data['Price'].sum()

#create column names/ information using dictionaries (as a Dataframe)
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                                             "Average Purchase Price": [avg_prices], 
                                             "Number of Purchases": [total_purchases],
                                             "Total Revenues": [gross_revenues]})
purchasing_analysis.style.format({"Average Purchase Price":"${:.2f}", "Total Revenues":"${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [40]:
purchase_data["Gender"].unique()

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [41]:
total_gender = purchase_data['SN'].nunique()
male_count = purchase_data[purchase_data['Gender']== 'Male']['SN'].nunique()
female_count = purchase_data[purchase_data['Gender']=='Female']['SN'].nunique()
other_count = purchase_data[purchase_data['Gender']=='Other / Non-Disclosed']['SN'].nunique()

#percentage count
male_percentage = (male_count/total_gender) * 100
male_percentages = np.round(male_percentage,2)

female_percentage = (female_count / total_gender)*100
female_percentages = np.round(female_percentage,2)

other_percentage = (other_count / total_gender)*100
other_percentages = np.round(other_percentage,2)

gender_types = pd.DataFrame({"Genders":["Male", "Female", "Other / Non-Disclosed"], "Total Counts": [male_count,female_count,other_count],
                             "Percentage of Players": [male_percentages, female_percentages, other_percentages]})

gender_types.style.format({"Percentage of Players": "{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [42]:

male_purcahse = purchase_data[purchase_data['Gender'] == 'Male']['Price'].count()
female_purchase = purchase_data[purchase_data['Gender']=='Female']['Price'].count()
other_purchase = purchase_data[purchase_data['Gender']== 'Other / Non-Disclosed']['Price'].count()

male_avgPrice = purchase_data[purchase_data['Gender'] == 'Male']['Price'].mean()
male_avgPrices = np.round(male_avgPrice,2)

female_avgPrice = purchase_data[purchase_data['Gender'] == 'Female']['Price'].mean()
female_avgPrices = np.round(female_avgPrice,2)

other_avgPrice = purchase_data[purchase_data['Gender']== 'Other / Non-Disclosed']['Price'].mean()
other_avgPrices = np.round(other_avgPrice,2)

male_priceTotal = purchase_data[purchase_data['Gender']=='Male']['Price'].sum()
female_priceTotal = purchase_data[purchase_data['Gender']=='Female']['Price'].sum()
other_priceTotal = purchase_data[purchase_data['Gender']=='Other / Non-Disclosed']['Price'].sum()

single_male = (male_purcahse+male_priceTotal)/uni_players
single_males = np.round(single_male,2)
single_female = (female_purchase+female_priceTotal)/(uni_players-female_avgPrices)
single_females = np.round(single_female,2)
single_other = (other_priceTotal/other_avgPrices)
single_others = np.round(single_other,2)

purchasing_analysis = pd.DataFrame({"Gender": ["Female", "Male", "Other / Non-Disclosed"],
                                   "Purchase Count": [female_purchase, male_purcahse, other_purchase],
                                   "Average Purchase Price": [female_avgPrices, male_avgPrices, other_avgPrices],
                                   "Total Purchase Value": [female_priceTotal, male_priceTotal, other_priceTotal],
                                   "Avg Total Purchase per Person":[single_females, single_males,single_others]})
purchasing_analysis.style.format({"Average Purchase Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}", "Avg Total Purchase per Person": "${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [43]:
age_bins = [0, *np.arange(9, 40, 5), 999]
groups = ["<10", "10-14", "15-19", "20-24","25-29", "30-34", "35-39","40+"]

purchase_data['AGE'] = pd.cut(purchase_data["Age"], bins=age_bins, labels=groups)
uni_player_age = purchase_data.groupby(["AGE", "SN"])
count_ages = uni_player_age['SN'].count().groupby(level=0).count()

age_demographics = pd.DataFrame({
    "Total Count": count_ages,
    "% of Players": (count_ages / uni_players * 100)
})
age_demographics.style.format({"% of Players": "{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [44]:
new_age = purchase_data.groupby("AGE")

pur_analysis = pd.DataFrame({
    "Purchase Count": new_age["Purchase ID"].count(),
    "Average Purchase Price": new_age["Price"].mean(),
    "Total Purchase Value": new_age["Price"].sum(),
    "Average Purchase per Person": new_age["Price"].sum().groupby(level=0).mean(),
})
pur_analysis.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Average Purchase per Person": "${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [45]:
user_name = purchase_data.groupby("SN")
top_spenders = pd.DataFrame({
    "Purchase Count": user_name["Purchase ID"].count(),
    "Average Purchase Price": user_name["Price"].mean(),
    "Total Purchase Value": user_name["Price"].sum(),
}).sort_values("Total Purchase Value", ascending=False).head(5)
top_spenders.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [46]:
pop_it= purchase_data.groupby("Item ID")

popular_items = pd.DataFrame({
    "Item Name": pop_it["Item Name"].first(),
    "Purchase Count": pop_it["Item Name"].count(),
    "Item Price": pop_it["Price"].first(),
    "Total Purchase Price": pop_it["Price"].sum()
}).sort_values("Purchase Count", ascending=False).head(5)
popular_items.style.format({"Item Price": "${:.2f}", "Total Purchase Price": "${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [47]:
new_pop_df = popular_items.copy()
new_pop_df = new_pop_df.sort_values("Total Purchase Price", ascending=False).head(5)
new_pop_df.style.format({"Item Price": "${:.2f}", "Total Purchase Price": "${:.2f}"})